**
!pyproject.toml
!uv.lock
!msu_hub_bot/
!msu_hub_bot/**
!hub_bot/
!hub_bot/**
!common/
!common/**
!LICENSE
!THIRD_PARTY_NOTICES.md
!licenses/
!licenses/**
**/__pycache__/
**/*.pyc
**/.env*
**/*.log
**/*.dump
**/*.key
**/*.pem
**/core*

